.movie-card {
    max-width: 100%;
    margin: 1rem;
    cursor: pointer;
    transition: transform 150ms;
}

.movie-card:hover {
    transform: scale(1.05);
}
.movie-card:hover > .movie-card__additional-info {
    visibility: visible;
}

.movie-card > * {
    margin-top: 0.5rem;
}

.movie-card img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}

.movie-card p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1em;
}

.movie-card__additional-info {
    visibility: hidden;
}