.movie-detail {
    display: flex;
    align-items: flex-start;
    gap: 3em;
}

.movie-detail__card {
    padding: 2em 0 4em 0;
}

.movie-detail__image {
    object-fit: contain;
}

.movie-detail h1 {
    font-size: 3.5rem;
    letter-spacing: 1px;
}

.movie-detail__separator {
    user-select: none;
    padding: 0.5em;
}

.movie-detail__subinfo {
    opacity: 0.8;
    margin-top: 0.2em;
}

.movie-detail__overview {
    margin: 1.5em 0;
}