.header {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    margin-bottom: 1em;
}

.header::-webkit-scrollbar {
    display: none;
}

.header__logo {
    height: 80px;
    object-fit: contain;
}