.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 4em;
    text-align: center;
    opacity: 0.8;
}

.menu-item.active {
    opacity: 1;
}

.menu-item .MuiSvgIcon-root {
    font-size: 1.9em;
}

.menu-item__text {
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.2em;
    user-select: none;
    display: none;
}

.menu-item.active .menu-item__text,
.menu-item:hover > .menu-item__text {
    display: block;
}

.menu-item:hover {
    transform: translateY(-0.3em);
}