body {
  background-image: linear-gradient(75deg, rgb(39, 23, 77), rgb(2, 4, 24));
  color: #fff;
}

.app {
  padding: 0 2em 1em 2em;
}

.app__main {
  margin-top: 2em;
}

.button-link {
  color: inherit;
  text-decoration: none;
}